<div class="user chat-box-btn"  data-id="{{id}}">
    <div class="avatar shakeActive">
        <i class="fa fa-phone-square"></i>
        <div class="status "></div>
    </div>
    <div class="name call-box-name">{{callBoxName}}</div>
    <div class="mood call-box-phone">Ph:  {{phone}}</div>
</div>
