<div class="col-6 col-sm-4 col-md-3 col-lg-2 chat-box-btn child-video_{{id}} {{activeClass}}" id="pub_child_{{id}}" title="{{id}}" >
    <div class="d-flex align-items-center call-box1" title="{{id}}" data-id="{{id}}" >
        <div id="call_{{id}}">
            <div class="avatar {{onStatus}}">
                <i class="fa fa-phone-square"></i>
            </div>
        </div>
        <div id="chat_sign_{{id}}" >
            <h5>{{callBoxName}}</h5>
            <p>{{date_format}}</p>
            <p>pickedUp: {{pickedUp}}</p>
            <p>callDuration: {{callDuration}}</p>
        </div>
    </div>
</div>
