<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Reset password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="fp_panel" class="reset-box forget-pw active">
                    <form>
                        <p id="recover_email_warning"></p>
                        <div class="form-group">
                            <p class="text-muted">Enter your email to recover your password. You will receive an email
                                with OTP.</p>
                            <input type="email" id="recover_email" class="form-control" placeholder="Enter email here">
                        </div>
                        <a id="next_to_otp" class="btn btn-danger btn-block">Continue</a>
                    </form>
                </div>
                <!-- Enter OTP -->
                <div id="otp_panel" class="reset-box otp-box">
                    <h4>Verify your email</h4>
                    <p class="text-muted">We have sent 6 digit OTP code to example@gmail.com</p>
                    <form class="reset-form">
                        <p id="otp_warning"></p>
                        <div class="form-group d-flex" id="otp-inputs">
                            <input class="form-control otp_field otpval1" type="text" maxLength="1" size="1" min="0"
                                   max="9" pattern="[0-9]{1}"/>
                            <input class="form-control otp_field otpval2" type="text" maxLength="1" size="1" min="0"
                                   max="9" pattern="[0-9]{1}"/>
                            <input class="form-control otp_field otpval3" type="text" maxLength="1" size="1" min="0"
                                   max="9" pattern="[0-9]{1}"/>
                            <input class="form-control otp_field otpval4" type="text" maxLength="1" size="1" min="0"
                                   max="9" pattern="[0-9]{1}"/>
                            <input class="form-control otp_field otpval5" type="text" maxLength="1" size="1" min="0"
                                   max="9" pattern="[0-9]{1}"/>
                            <input class="form-control otp_field otpval6" type="text" maxLength="1" size="1" min="0"
                                   max="9" pattern="[0-9]{1}"/>
                        </div>
                        <div class="form-group">
                            Password
                            <a style="font-size: 17px; cursor: pointer;"   data-toggle="tooltip" class="" data-html="true" title="Passwords should be at least 8 characters long and include 1 uppercase and 1 lowercase alpha character, 1 number and 1 special character.">
                                <i class="fa fa-info-circle"></i>
                            </a>
                            <input id="new_password" type="password" class="form-control"
                                   placeholder="Enter new password">
                        </div>
                        <div class="form-group">
                            Confirm Password
                            <input id="confirm_password" type="password" class="form-control"
                                   placeholder="Confirm password">
                        </div>
                        <!-- <p>Password policy:</p>
                        <p class="text-muted">
                          <ul>
                            <li>Require numbers</li>
                            <li>Require special character</li>
                            <li>Require uppercase letters</li>
                            <li>Require lowercase letters</li>
                          </ul>
                        </p> -->
                        <p class="text-muted">Didn't receive OTP? <span class="link" id="resend_otp">Resend OTP</span>
                        </p>
                        <a id="update_password" class="btn btn-danger btn-block">Update password</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
